
header nav {
float: right;
}

header nav ul li {
    display: inline-block;
    padding: 10px;
    margin-top: 25px;
}


main h1 {
    
    text-align: justify;
    margin-top: 25px;
}
main h3 {
    
    text-align: justify;
    margin-top: 25px;
}

main section h2 {
    color: #000;
    text-align: center;
    background-color: bisque;
}



main p {
    font-size: medium;
     color: rgb(87, 65, 128);
    font-style: normal;
 padding-top: 10px;
 line-height: 1.5;
    
}
main {
    font-size: medium;
    color: rgb(87, 65, 128);
    font-style: normal;
 padding-top: 10px;
 line-height: 1.5;
}

footer {
    color: #000;
    text-align: center;
    background-color: blanchedalmond;
}